{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <!-- Use the new clean URL style-->
            <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
    <img src="/static/img/IMG_0508.jpeg" alt="bell">
    <div>
        <label></label>
        <input type='text' name='search' value='' defaultValue='search'>
    </div>
    <div>
        <input type='submit' value='profile'>
    </div>
    <input type="checkbox" name="test" value="test">
    <label for="test">test</label><br>
    <textarea style="width: 200px; height: 200px" id="breakme">
    Here's enough text to make this textarea grow scrollbars....
    HTML scrollbars, scrollbar color, change browser scrollbars,
    css scrollbar, change color of the scrollbar...
    </textarea>
{{end}}
