{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <!-- Use the new template function here -->
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
    <img src="/static/img/IMG_0171.jpeg" alt="pancake">
    <div>
        <label></label>
        <input type='text' name='search' value='' defaultValue='search'>
    </div>
    <div>
        <input type='submit' value='home'>
    </div>
    <input type="checkbox" name="delete" value="delete">
    <label for="delete">delete</label><br>
    <ul>
    <li>cat</li>
    <li>dog</li>
    <li>lizard</li>
    </ul>

{{end}}
